<h1>Food Vitals</h1>
<p>
  This is the home page for
  <a href="https://morning-atoll-82586.herokuapp.com">Food Vitals</a>, a web application that
  gives you vital information about the food you put in your body.
</p>
