<div class="row">
  <div class="small-12 columns">
    <h1 class="text-center">Food Vitals</h1>

    <%= render 'shared/form' %>

    <% if @nutrition_overview %>

      <div id="submission">
        <h1><%= @submission.title %> <h1>
        <h5><%=link_to "Original Recipe",  @submission.url %></h5><hr><br>
        <h5>Nurition Facts (Nutrition calculated for entire recipe)</h5><hr>

        <%= render 'shared/nutrition' %>
      </div>

    <% end %>

  </div>

</div>
