<div class="row">
  <%= form_for(@submission, url: root_url ) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="input-group">
      <%= f.text_field :url, class: 'form-control input-group-field', placeholder: 'Paste recipe link here' %>
      <div class="input-group-button">
        <%= f.submit "Submit", class: 'button' %>
      </div>
    </div>
  <% end %>
</div>
